.input {
    width: 550px;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
    text-align: center;
    margin-bottom: 30px;
}